@charset "UTF-8";
#grid {
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: 16% 75.5% 8.5%;
  gap: 0;
  width: 100vw; }

#div1 {
  grid-area: 1 / 2 / 2 / 4; }

#div2 {
  grid-area: 1 / 1 / 3 / 2;
  height: 100vh;
  position: sticky !important;
  top: 0; }

#div3 {
  grid-area: 2 / 2 / 3 / 3; }

#div4 {
  grid-area: 2 / 3 / 3 / 4; }

@media screen and (max-width: 1024px) {
  #grid {
    grid-template-columns: 20% 78% 2%; } }

@media screen and (max-width: 850px) {
  #grid {
    grid-template-columns: 8.5% 83% 8.5%; } }

:root {
  --fs-xl: clamp(3rem, 1vw + 1rem, 3.5rem);
  --fs-600: clamp(1rem, 1vw + 1rem, 1.5rem);
  --fs-500: 1.25rem;
  --fs-400: clamp(0.7rem, 1.1vw + 1rem, 1.2rem); }

.side-bar {
  background: #004186e3;
  backdrop-filter: blur(15px);
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left; }

.side-bar::-webkit-scrollbar {
  width: 0px; }

.side-bar.non-active {
  margin-left: -100%; }

.side-bar.active {
  margin-left: 0%; }

h1 {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 13px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #fff; }

.side-bar .menu {
  width: 100%;
  margin-top: 30px; }

.side-bar .menu .item {
  position: relative;
  cursor: pointer; }

.side-bar .menu .item a {
  color: white;
  font-size: var(--fs-400);
  text-decoration: none;
  display: block;
  padding: 20px 35px;
  line-height: 25px; }

.side-bar .menu .item a:hover {
  background: #ff8c00;
  transition: 0.3s ease; }

.active {
  background: #ff8c00;
  transition: 0.3s ease; }

.side-bar .menu .item i {
  margin-right: 15px; }

.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  transition: 0.3s ease; }

.side-bar .menu .item .sub-menu {
  background: #262627;
  display: none; }

.side-bar .menu .item .sub-menu a {
  padding-left: 45px; }

.rotate {
  transform: rotate(90deg); }

.close-btn {
  position: absolute;
  color: white;
  font-size: 30px;
  right: 0px;
  margin: 15px;
  cursor: pointer; }

.close-btn:hover {
  animation: pulse 1s infinite; }

.menu-btn {
  color: black;
  position: fixed;
  font-size: 35px;
  cursor: pointer;
  top: 7px;
  left: 14px; }

.menu-btn:hover {
  transition: 0.6s ease;
  animation: pulse 1s infinite; }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%; }

.logo img {
  width: 100%;
  padding-top: 20px;
  cursor: pointer; }

@keyframes pulse {
  from {
    transform: scale(1); }
  50% {
    transform: scale(0.85); }
  to {
    transform: scale(1); } }

@media screen and (max-width: 850px) {
  .side-bar {
    width: 250px; }
  .side-bar.non-active {
    margin-left: -250px; } }

.banner {
  height: 400px;
  background-image: url("/images/banner.jpg");
  /*Zafixuje vršek obrázku, který se nebude ořezávat*/
  position: relative;
  /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */ }

.banner__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*elementy se počítají od levého horního rohu pozice. Toto nám udělá to, že se ta pozice posune na střed*/
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px; }

.heading-primary--main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 3s;
  /*animation-timing-function: ease-in;*/
  /*animation-iteration-count: 3;*/
  /*animation-delay: 3s;*/ }

.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation-name: moveInRight;
  animation-duration: 3s; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75;
  animation-fill-mode: backwards; }

.header-btn:link,
.header-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 30px;
  transition: all 0.2s;
  position: relative; }

.header-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.header-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777;
  cursor: pointer; }

.header-btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--white::after {
  background-color: #fff; }

.header-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

body {
  overflow-x: hidden; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'roboto', sans-serif;
  font-size: 1Opx; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.container {
  width: 100%;
  /* max-width: 117rem; */
  margin: 0 auto;
  padding: 0 1.5rem;
  background-color: #007bff; }

.menu-icons {
  color: black;
  position: absolute;
  font-size: 35px;
  cursor: pointer;
  top: 7px;
  right: 14px;
  z-index: 1500;
  display: none; }

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */ }

/*NAV-LIST*/
.nav-list {
  display: flex;
  align-items: center;
  margin: 0 auto; }

.nav-list li {
  line-height: 3rem;
  position: relative; }

.sub-menu-ver {
  line-height: 4rem; }

.nav-list a {
  display: block;
  color: #eee;
  font-weight: bold;
  padding: 0 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: color 650ms; }

.nav-list a:hover {
  color: #ff8c00; }

.sub-menu-ver {
  width: 20rem;
  display: block;
  position: absolute;
  border-top: 3px solid #007bff;
  background-color: #262627;
  z-index: 100;
  top: 4rem;
  transition: all 605ms ease;
  /*Hidden sub-menu*/
  opacity: 0;
  visibility: hidden; }

/*Trojúhelníky u menu*/
.sub-menu-ver::before {
  content: '';
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  border: 1.2rem solid transparent;
  border-bottom-color: #007bff; }

/*Side menu*/
.sub-menu-ver .sub-menu-ver::before {
  top: 0.4rem;
  left: -2.5rem;
  border: 1.2rem solid transparent;
  border-right-color: #007bff; }

.sub-menu-ver .sub-menu-ver li::before {
  content: '';
  position: absolute;
  top: 20px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #007bff;
  display: block;
  margin: 0 10px; }

.sub-menu-ver .sub-menu-ver {
  border-top: none;
  border-left: 3px solid #007bff;
  top: 0;
  left: 160%;
  margin-left: -3px; }

.nav-list li:hover > .sub-menu-ver {
  opacity: 1;
  visibility: visible; }

.sub-menu-ver li:hover > .sub-menu-ver {
  top: 0;
  left: 100%; }

.sub-menu-ver li:hover {
  background-color: #ff8c00; }
  .sub-menu-ver li:hover a {
    color: #fff; }

li.move-right {
  margin: auto 0 auto auto;
  line-height: initial; }

@media screen and (max-width: 1024px) {
  .nav-list {
    margin: 0 0 0 auto; } }

@media screen and (max-width: 850px) {
  .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: initial;
    background-color: #191919;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden; }
  .nav-list > li {
    line-height: 6rem;
    width: 30rem; }
  .sub-menu-ver {
    position: initial;
    border: 3px solid transparent;
    margin-left: 1rem;
    max-height: 0;
    width: 30rem; }
  .sub-menu-ver::before {
    display: none; }
  .nav-list li:hover > .sub-menu-ver {
    opacity: 1;
    visibility: visible;
    max-height: initial; }
  .sub-menu-ver .sub-menu-ver {
    margin-left: 20px; }
  li.move-right {
    margin: 0 auto 0 0;
    line-height: initial; }
  .menu-icons {
    display: block; }
  nav {
    height: 0; }
  .fa-times.horiozontal {
    display: none;
    color: white;
    position: absolute;
    font-size: 30px;
    right: 0px;
    margin: 15px;
    cursor: pointer; }
  nav.active .fa-bars {
    display: none; }
  nav.active .fa-times {
    display: block; }
  nav.active .nav-list {
    display: flex; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

body {
  min-height: 100vh;
  color: black;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 95vh;
  overflow-x: hidden; }

#app {
  margin: 2em;
  line-height: 1.5;
  font-weight: 500; }

a {
  color: #009579; }

h2 {
  font-size: var(--fs-xl);
  color: #007bff;
  padding: 20px 0 0 0; }

.page {
  color: red; }

#examples-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; }

#result {
  display: none; }

@media screen and (max-width: 1024px) {
  .card,
  .wrapper {
    width: 100%; } }

@media screen and (max-width: 850px) {
  .main {
    flex-direction: column;
    padding: 5em 0 5em 0; }
  .image {
    transform: scale(0.7); } }

.toggle {
  padding: 5px 40px;
  border-radius: 5px;
  border: 1px solid #007bff;
  text-transform: uppercase;
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.2s; }
  .toggle:hover {
    background-color: #00ff0d9f;
    color: #1b1a1b;
    animation: pulse 1s infinite; }

.result {
  padding-top: 10px; }

.whattodo,
.example {
  width: 95%; }

.example {
  display: flex;
  justify-content: center;
  padding: 10px; }

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #00ff0d4f;
  width: 95%;
  height: auto;
  border-radius: 5px; }

.clicked {
  background-color: #00ff0d4f;
  transform: scale(0.9);
  color: #1b1a1b; }
  .clicked:hover {
    animation: none; }

.number-ex {
  font-size: var(--fs-600);
  font-weight: bold;
  justify-content: left;
  width: 95%;
  padding-top: 20px; }

.text {
  width: 95%;
  justify-content: left;
  padding-bottom: 10px; }

.image {
  padding: 10px; }

.note {
  font-weight: bold; }

mjx-container[jax='CHTML'][display='true'] {
  margin: 0em 0px !important; }

@keyframes pulse {
  from {
    transform: scale(1); }
  50% {
    transform: scale(0.85); }
  to {
    transform: scale(1); } }
