body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'roboto', sans-serif;
  font-size: 1Opx;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  /* max-width: 117rem; */
  margin: 0 auto;
  padding: 0 1.5rem;
  background-color: #007bff;
}

.menu-icons {
  color: rgb(0, 0, 0);
  position: absolute;
  font-size: 35px;
  cursor: pointer;
  top: 7px;
  right: 14px;
  z-index: 1500;
  display: none;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

/*NAV-LIST*/

.nav-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.nav-list li {
  line-height: 3rem;
  position: relative;
}

.sub-menu-ver {
  line-height: 4rem;
}
.nav-list a {
  display: block;
  color: #eee;
  font-weight: bold;
  padding: 0 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: color 650ms;
}

.nav-list a:hover {
  color: #ff8c00;
}

.sub-menu-ver {
  width: 20rem;
  display: block;
  position: absolute;
  border-top: 3px solid #007bff;
  background-color: #262627;
  z-index: 100;
  top: 4rem;
  transition: all 605ms ease;
  /*Hidden sub-menu*/
  opacity: 0;
  visibility: hidden;
}

/*Trojúhelníky u menu*/
.sub-menu-ver::before {
  content: '';
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  border: 1.2rem solid transparent;
  border-bottom-color: #007bff;
}

/*Side menu*/
.sub-menu-ver .sub-menu-ver::before {
  top: 0.4rem;
  left: -2.5rem;
  border: 1.2rem solid transparent;
  border-right-color: #007bff;
}

.sub-menu-ver .sub-menu-ver li::before {
  content: '';
  position: absolute;
  top: 20px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #007bff;
  display: block;
  margin: 0 10px;
}

.sub-menu-ver .sub-menu-ver {
  border-top: none;
  border-left: 3px solid #007bff;
  top: 0;
  left: 160%;
  margin-left: -3px;
}

.nav-list li:hover > .sub-menu-ver {
  opacity: 1;
  visibility: visible;
}

.sub-menu-ver li:hover > .sub-menu-ver {
  top: 0;
  left: 100%;
}

.sub-menu-ver li:hover {
  background-color: #ff8c00;
  & a {
    color: #fff;
  }
}

li.move-right {
  margin: auto 0 auto auto;
  line-height: initial;
}

@media screen and (max-width: 1024px) {
  .nav-list {
    margin: 0 0 0 auto;
  }
}

@media screen and (max-width: 850px) {
  .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: initial;
    background-color: #191919;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .nav-list > li {
    line-height: 6rem;
    width: 30rem;
  }

  .sub-menu-ver {
    position: initial;
    border: 3px solid transparent;
    margin-left: 1rem;
    max-height: 0;
    width: 30rem;
  }

  .sub-menu-ver::before {
    display: none;
  }

  .nav-list li:hover > .sub-menu-ver {
    opacity: 1;
    visibility: visible;
    max-height: initial;
  }

  .sub-menu-ver .sub-menu-ver {
    margin-left: 20px;
  }

  li.move-right {
    margin: 0 auto 0 0;
    line-height: initial;
  }
  .menu-icons {
    display: block;
  }

  nav {
    height: 0;
  }

  .fa-times.horiozontal {
    display: none;
    color: white;
    position: absolute;
    font-size: 30px;
    right: 0px;
    margin: 15px;
    cursor: pointer;
  }
  nav.active .fa-bars {
    display: none;
  }

  nav.active .fa-times {
    display: block;
  }
  nav.active .nav-list {
    display: flex;
  }
}
